/* --------------------------------
  Primary style
-------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #111433;
  background-color: #ebeff2;
  -webkit-font-smoothing:subpixel-antialiased;
  -webkit-backface-visibility:visible;
}

body::after {
  clear: both;
  content: "";
  display: table;
}

a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  outline: 0;
}

 a:hover, a:focus{
  text-decoration: none;
  outline: 0;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

a.disabled { cursor: not-allowed; }

.text-align-center { text-align: center; }

/* Typography */

h1,h2,h3,h4,h5,h6 {  letter-spacing:0; margin-top:0px; font-family:"Roboto", sans-serif; font-size-adjust:0.508; font-weight:300; font-style:normal; text-align:left; }

h1 { font-size:32px; line-height:1.1em; padding-bottom:20px; font-weight: 400; }
h2 { font-size:28px; line-height:1.3em; margin-bottom:10px; }
h3 { font-size:26px; line-height:1.2em; margin-bottom:10px; }
h4 { font-size:20px; line-height:1.2em; margin-bottom:10px; }
h5 { font-size:18px; line-height:1.2em; margin-bottom:10px; }
h6 { font-size:16px; line-height:1.2em; margin-bottom:10px; }

.lead { font-size:18px; line-height:24px; }

@media screen and (max-width: 480px) {
  h1 { font-size:28px; line-height:1.1em; padding-bottom:20px;  }
  h2 { font-size:26px; line-height:1.2em; padding-bottom:20px;  }
  h3 { font-size:20px; line-height:1.2em; }
  h4 { font-size:18px; line-height:1.2em; margin-bottom:10px; }
  h5 { font-size:16px; line-height:1.2em; margin-bottom:10px; }
  h6 { font-size:14px; line-height:1.2em; margin-bottom:10px; }
}

.strong { font-weight: bold; }

/* --------------------------------
  Padding & Margin
-------------------------------- */

.pad-10 { padding-top: 20px; }
.pad-20 { padding-top: 20px; }
.marg-10 { margin-top: 10px;}

/* --------------------------------
  Login Page
-------------------------------- */

#app-layout .navbar { display: none; visibility: 0; }

body#app-layout { background: url("../img/branding/figaro-intro.jpg") repeat fixed center center; }
#app-layout { background-color: #111433; }
#app-layout h1 { margin-top: 180px; color: #fff; font-size: 80px; text-align: center;  }
#app-layout h3 { color: #fff; text-align: center; margin-bottom: 25px; }
#app-layout h4 { color: #fff; text-align: center; margin-bottom: 25px; }

#app-layout .figaro-logo { width: 100%; max-width: 450px; margin:0 auto; margin-top: 115px; margin-bottom: 25px; }

#app-layout a.btn { width:190px; margin: 0 6px 6px 0; padding:10px 16px; color: #fff; font-size: 16px; outline: 0; border:0;  }
#app-layout a.btn-link { float: left; margin-top: 12px; font-size: 12px; outline: 0; }
#app-layout .btn-lg { width:100%; background-color: #337ab7; border:0; box-shadow: none; color: #fff; margin-top: 10px; }

/* Forms */
#app-layout .login-form { width: 40%; margin:0 auto; }
#app-layout .login-form p { color: #ccc; font-size: 12px; float: right; padding: 5px 5px 5px 10px; }

#app-layout .form-control { height: 42px; border-radius: none; padding: 12px; color: #666; margin-top:10px; }
#app-layout .form-horizontal .control-label { color: #fff; }
#app-layout .checkbox label, #app-layout .radio label { color: #ccc; }

@media only screen and (max-width: 1170px) {
  #app-layout .figaro-logo { width: 40%; }
}

@media only screen and (max-width: 768px) {
  #app-layout .figaro-logo { width: 55%; }
  #app-layout .login-form { width: 75%; }
}

@media only screen and (max-width: 468px) {
  #app-layout .figaro-logo { margin-top: 75px; }
  #app-layout .figaro-logo { width: 75%; }
  #app-layout .login-form { width: 90%; }
}

/* --------------------------------
  Main Page Content
-------------------------------- */

.main-content .content-wrapper {
  padding: 85px 35px 35px;
}

@media only screen and (max-width: 468px) {
  .main-content .content-wrapper {
    padding: 70px 15px 15px;
  }
}

/* --------------------------------
  Header
-------------------------------- */

.branding { width: 368px; height: 55px; background-color: #fff; }
.logo { width: 126px; float: left; display: block; margin: 10px 0 0 95px; }
.logo img { width: 100%; display: block; }

.logo.client { width: 120px; float: left; display: block; margin: 10px 0 0 95px; }
.logo.client img { width: 100%; display: block; }

@media only screen and (max-width: 768px) {
  .logo { margin-left: 24%; }
  .logo.client { margin-left: 24%; }
}
@media only screen and (max-width: 468px) {
   .branding  { width:240px; }
}

.main-header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background: #111433;
  border-bottom: 1px solid #37296a;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 768px) {
  .main-header {
    position: fixed;
    height: 55px;
  }
}

a.search-trigger {
 display: block;
 float: left;
 height: 40px;
 margin: 8px 46px;
 position: relative;
 width: 40px;
 color: transparent;
 cursor: pointer;
}

a.search-trigger::after {
  font-family: "FontAwesome";
  opacity: 1;
  position: absolute;
  right: 11px;
  top: 5px;
  content: "\f002";
  font-size: 18px;
  color: #999;
}

@media only screen and (max-width: 468px) {
  a.search-trigger, a.search-trigger::after { position: absolute; right: -14px;}
}

/* --------------------------------
  Buttons
-------------------------------- */

.btn.focus, .btn:focus, .btn:hover { color: #fff; }

.main-header .btn-full-screen { background-color: inherit;  color: #337ab7; border: 1px solid #337ab7; }

.btn-search-trigger { margin:9px 0 0 15px; background-color: #111433; color: #fff; float: left; }
.btn-filter { background-color: #337ab7;  color: #fff; }

.btn-close { margin:10px 10px 0 0; }

/* --------------------------------
  User Account
-------------------------------- */

.header-menu.navbar-nav {  }
.header-menu.navbar-nav > li > a { height: 54px; padding: 15px; background-color: #111433; color: #fff; font-size: 14px }
.header-menu.navbar-nav > li > a:hover, .header-menu.navbar-nav > li > a:hover { background-color: #111433 !important; color:#ffb107; }
.header-menu.navbar-nav .avatar { border-radius: 3px; margin-right: 6px; }

.header-menu.nav .open > a,
.header-menu.nav .open > a:focus,
.header-menu.nav .open > a:hover { background-color: #111433; color:#ffb107; }

.header-menu .dropdown-menu {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    left: auto;
    margin: 0;
    max-width: 290px !important;
    min-width: 170px !important;
    padding: 0;
    right: 0;
    top:55px;
    width: 280px;
    border: none;
}
.header-menu .dropdown-menu::after {
    border-bottom: 6px solid #2b2e33;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 17px;
    top: -6px;
}
.header-menu .dropdown-menu .dropdown-header {
    background: #2b2e33 none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    padding: 8px 15px;
}
.header-menu .dropdown-menu .dropdown-header:hover {
    background: #2b2e33 none repeat scroll 0 0;
    color: #fff;
    cursor: default;
}
.header-menu .dropdown-menu .dropdown-header p {
    margin: 0;
}
.header-menu .dropdown-menu li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
}
.header-menu .dropdown-menu li:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.header-menu .dropdown-menu li ul li {
    padding: 12px 10px 6px;
}
.header-menu .dropdown-menu li ul li:hover {
    background: #eaeaea none repeat scroll 0 0;
}
.header-menu .dropdown-menu li ul li a:hover {
    text-decoration: none;
}
.header-menu .dropdown-menu li ul li .dropdown-time {
    color: #c4c4c4;
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
}
.header-menu .dropdown-menu .dropdown-footer {
    background: #f8f8f8 none repeat scroll 0 0;
    border-top: 1px solid #e2e2e2;
    color: #121212;
    font-size: 12px;
    padding: 5px;
}
.header-menu .dropdown-menu .dropdown-footer a {
    padding: 3px 5px;
}
.header-menu .dropdown-menu .dropdown-footer a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.header-menu .dropdown-menu > li > a.pull-left, .header-menu .dropdown-menu > li > a.pull-right {
    clear: none;
}
.header-menu #messages-header .glyph-icon {
    color: #fff;
    font-size: 20px;
    margin-top: 2px;
}
.header-menu #messages-header ul li img {
    border-radius: 50%;
    height: 30px;
    margin-top: -5px;
}
.header-menu #messages-header .dropdown-body p {
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
}
.header-menu #user-header li a:hover {
    background-color: #eaeaea;
    text-decoration: none;
}
.header-menu #user-header .dropdown-menu {
    width: 178px;
}
.header-menu #user-header .dropdown-menu li a {
    display: block;
    font-size: 13px;
    padding: 8px 15px;
}
.header-menu #user-header .dropdown-menu li a i {
    padding-right: 8px;
}
.header-menu #user-header .dropdown-menu::after {
    border-bottom: 6px solid #eaeaea;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 17px;
    top: -6px;
}
.header-menu #user-header .dropdown-menu .dropdown-footer {
    background-color: #e9e9e9;
}
.header-menu #user-header .dropdown-menu li.dropdown-footer {
    padding: 0;
}
.header-menu #user-header .dropdown-menu .dropdown-footer a { width: 49%; color: #inherit; display: inline-block; font-size: 16px; padding: 8px; text-align: center; cursor: pointer; }
.header-menu #user-header .dropdown-menu .dropdown-footer a:hover { background-color: #dcdcdc; }
.header-menu #user-header .dropdown-menu .dropdown-footer a i { padding-right: 0; }

/* --------------------------------
  Sidebar
-------------------------------- */

/* Trigger */

.nav-slide-trigger {
  /* navigation trigger - visible on mobile devices only */
  top: 6px;
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.nav-slide-trigger span, .nav-slide-trigger span::before, .nav-slide-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #111433;
}
.nav-slide-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.nav-slide-trigger span::before, .nav-slide-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.nav-slide-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.nav-slide-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.nav-slide-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.nav-slide-trigger.nav-is-visible span::before, .nav-slide-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #111433;
}
.nav-slide-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.nav-slide-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

/* --------------------------------
  nav slide
-------------------------------- */

.nav-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #111433;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.nav-slide::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 55px;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: 2;
}

.nav-slide .nav-close {
  position: inherit;
  float: left;
  height: 54px;
  line-height: 2.4em;
  width: 75px;
  margin-right: 8px;
  padding-left: 7px;
  color: #111433;
  font-size: 2.2rem;
  text-align: center;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}

.nav-slide.slide-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.nav-slide.slide-is-visible .nav-close {
  opacity: 1;
}

.nav-slide-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 40px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  z-index: 3;
}
.nav-slide-trigger.slide-is-visible {
  pointer-events: none;
}
@media only screen and (max-width: 768px) {
  .nav-slide-trigger { left: 0%; }
}

@media only screen and (min-width: 1170px) {
  .nav-slide-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .nav-slide-trigger:hover {
    color: #41307c;
  }
  .nav-slide-trigger.slide-is-visible, .nav-slide-trigger.slide-is-visible:hover {
    color: #ffffff;
  }
}

.nav-slide ul { margin-top:85px; padding: 0.6em 0; }
.nav-slide ul:last-of-type { padding-bottom: 0; }

.nav-slide a { position: relative; color: #ffffff; text-decoration: none; }
.nav-slide ul li.active { background-color: #1f245d; border-left: 2px solid #ffb107; }
.nav-slide ul li.active a { color: #ffffff; }
.nav-slide ul li a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  height: 26px;
  width: 22px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-slide > ul > li.dashboard > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0e4";
}
.nav-slide > ul > li.tables > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0ce";
}

.nav-slide > ul > li.server > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f233";
}
.nav-slide > ul > li.tools > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0ad";
}
.nav-slide > ul > li.graphs > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f080";
}
.nav-slide > ul > li.library > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f02d";
}
.nav-slide > ul > li.build > a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content: "\f1b3";
}
.nav-slide > ul > li.sign-out> a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content: "\f08b";
}
.nav-slide > ul > li.user> a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content: "\f007";
}
.nav-slide > ul > li.areas> a::before {
     font-family: "FontAwesome";
     opacity: 0.3;
     position: absolute;
     content: "\f00a";
 }
.nav-slide > ul > li.import> a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content: "\f093";
}
.nav-slide > ul > li.gantt> a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content: "\f036";
}
.nav-slide > ul > li.activity> a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content: "\f093";
}


.nav-slide .fa { margin-right:25px; }
.nav-slide ul {  }
.nav-slide ul li { width:100%; position: relative; }
.nav-slide ul li a { display: block; margin:0; padding:12px 12px 15px 18%; }
.nav-slide ul li a:hover { background-color: #1f245d; }

@media only screen and (max-width: 468px) {
  .nav-slide { width: 100%; }
}
@media only screen and (min-width: 768px) {
  .nav-slide { width: 25%; }
}

@media only screen and (min-width: 1170px) {
.nav-slide { width: 20%; }
}

.nav-slide ul li:hover ul.nav-dropdown {
    display: block;
}

.nav-slide .sub-nav ul { margin-top:0 !important; background-color: #1f245d; }
.nav-slide .sub-nav ul li { width: 100%; margin:0; }
.nav-slide .sub-nav ul li a { display:block; margin-left: 0px; }
.nav-slide .sub-nav ul li a:hover { color: #ffb107; }
.nav-slide .sub-nav ul li a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  right: 5%;
  top: 50%;
  bottom: auto;
  height: 26px;
  width: 22px;
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f105";
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* --------------------------------
  Sidebar
-------------------------------- */

/* Trigger */

.nav-slide-trigger {
  /* navigation trigger - visible on mobile devices only */
  top: 6px;
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.nav-slide-trigger span, .nav-slide-trigger span::before, .nav-slide-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #111433;
}
.nav-slide-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.nav-slide-trigger span::before, .nav-slide-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.nav-slide-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.nav-slide-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.nav-slide-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.nav-slide-trigger.nav-is-visible span::before, .nav-slide-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #111433;
}
.nav-slide-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.nav-slide-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

/* --------------------------------
  nav slide
-------------------------------- */

.nav-slide.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 368px;
  height: 100%;
  background: #111433;
  box-shadow: 4px 4px 20px transparent;
  z-index: 1000;
  overflow: scroll;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.nav-slide::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 55px;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: 2;
}

.nav-slide .nav-close-logo {
  width: 126px;
  float: left;
  display: block;
  margin: 10px 0 0 14px;
}
.nav-slide .nav-close-logo img {
  width: 100%;
  display: block;
  float: left;
}

.ns-header { height: 55px; border-bottom: 1px solid #37296a; background-color: #ffffff; }

.nav-slide.slide-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.nav-slide.slide-is-visible .nav-close {
  opacity: 1;
}

.nav-slide-trigger {
  position: absolute;
  top: 2px;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 40px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  z-index: 3;
}
.nav-slide-trigger.slide-is-visible {
  pointer-events: none;
}

@media only screen and (max-width: 468px) {
 .nav-slide .nav-close-logo { margin-left:-22px; }
}

@media only screen and (max-width: 768px) {
  .nav-slide-trigger { left: 0%; }
}

@media only screen and (min-width: 1170px) {
  .nav-slide-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .nav-slide-trigger:hover {
    color: #41307c;
  }
  .nav-slide-trigger.slide-is-visible, .nav-slide-trigger.slide-is-visible:hover {
    color: #ffffff;
  }
}

.nav-slide ul { margin-top:10px; padding: 0.6em 0; }
.nav-slide ul:last-of-type { padding-bottom: 0; }

.nav-slide ul li.active { background-color: #1f245d; border-left: 2px solid #ffb107; }
.nav-slide ul li.active a { color: #ffffff; }
.nav-slide ul li a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  height: 26px;
  width: 22px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-slide > ul > li.dashboard > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0e4";
}
.nav-slide > ul > li.tables > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0ce";
}

.nav-slide > ul > li.server > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f233";
}
.nav-slide > ul > li.tools > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0ad";
}
.nav-slide > ul > li.graphs > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f080";
}
.nav-slide > ul > li.library > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f02d";
}
.nav-slide > ul > li.reports > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f044";
}
.nav-slide > ul > li.rules > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f046";
}
.nav-slide > ul > li.forum > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0e5";
}
.nav-slide > ul > li.users > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0c0";
}
.nav-slide > ul > li.user > a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content:"\f007";
}
.nav-slide > ul > li.import > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
    content:"\f019";
}
.nav-slide > ul > li.server > a::before {
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f233";
}
.nav-slide > ul > li.main-menu > a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content: "\f015";
}
.nav-slide > ul > li.admin-tools > a::before {
     font-family: "FontAwesome";
     opacity: 0.3;
     position: absolute;
     content:"\f0ad";
 }
.nav-slide > ul > li.new > a::before {
    font-family: "FontAwesome";
    opacity: 0.3;
    position: absolute;
    content:"\f067";
}

@media only screen and (min-width: 1170px) {
.nav-slide {}
}

@media only screen and (max-width: 768px) {
  .nav-slide { width: 48%; }
}

@media only screen and (max-width: 468px) {
  .nav-slide { width: 95%; }
}


.nav-slide ul li:hover ul.nav-dropdown {
    display: block;
}

ul.nav-dropdown li a:hover .nav-slide ul li a { background-color: white; }

/* --------------------------------
  Gallery
-------------------------------- */

 .thumb {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 26px 40px -40px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 20px;
    width: 100%;
}

.gallery-filter a {
    color: #333333;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease-out 0s;
}

.gallery-filter a.current {
    color: #337ab7;
}

.gal-detail h3 { margin-top:20px; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background-color: rgba(17, 20, 51, 0.85); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }


/* --------------------------------
  Data Tables overwrites
-------------------------------- */

button.dt-button, div.dt-button, a.dt-button { background-color: #ccc; background-image: none; border-radius: 6px; color:#fff; }

/* --------------------------------
  Bootstrap overwrites
-------------------------------- */

.container { padding-left: 0px; padding-right: 0px; }
label { font-weight: 500; }

.modal { background-color: rgba(17, 20, 51, 0.65); }
.modal-header { border-bottom: none; }

#task-details-section .fa,
#update-task-form-section .fa { color: #337ab7; }

#task-details-section .fa:hover,
#update-task-form-section .fa:hover { color: transparent; }

.well, .well-white { border:none; box-shadow:0 1px 7px rgba(0, 0, 0, 0.05) inset; }

.well-white {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

/* List Group */
.list-group-item { border:none; }
.settings .list-group-item { border-bottom: 1px solid #ccc; margin-bottom: 0; }
.settings a.list-group-item, button.list-group-item { color:#111433; }

/* Accordion */
.accordion-default .panel-title > a.collapsed > .fa,
.accordion-default .panel-title > a > *:first-child { display: none; }
.accordion-default .panel-title > a.collapsed > *:first-child { display: inline-block; }
.accordion-default.panel-group .panel-title a { display: block; text-decoration: none !important; }

/* Panels */
.panel-title { font-weight: 400; }
.panel-default { border-radius: 0px; }
.panel-default > .panel-heading { border-radius: 0px; }

.btn { margin-bottom: 5px; transition: all 0.3s ease-out 0s;}

.btn-default { background-color: rgba(218, 230, 236, 0.3); border-color: rgba(218, 230, 236, 0.5); }

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    background-color: rgba(218, 230, 236, 0.5) !important;
    border: 1px solid rgba(218, 230, 236, 0.7) !important;
}

.btn-primary { border-color:#337ab7; background-color: #337ab7; }
.btn-primary.outline { border-color:#337ab7; background-color: transparent; color: #337ab7 }

.btn-success .fa { color: #fff; }

.btn-link { border-color: #ccc; color: #ccc; border-radius: 4px; }
.btn-link:active, .btn-link:focus,.btn-link:hover { text-decoration: none; background-color: #ccc; border-color: #ccc; color: #fff; }

.btn-link-primary { background-color: transparent; border-color: #337ab7; color: #337ab7; border-radius: 4px; }
.btn-link-primary:active, .btn-link-primary:focus,.btn-link-primary:hover { text-decoration: none; background-color: #337ab7; border-color: #337ab7; color: #fff; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text { font-size: 13px; }

/* Forms */
.form-control { height: 30px; border-radius: none; }

/* Pagination */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover { background-color: #0c8de4; border-color: #0c8de4; color: #fff; cursor: default; z-index: 2; }

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover { background-color: #fff; border-color: #fff; color: #111433; }

/* Panels */
.panel {  border: medium none; border-radius: 4px;  box-shadow: 0 26px 40px -40px rgba(0, 0, 0, 0.2); margin-bottom: 20px; }
.panel-heading { border: medium none !important; padding: 10px 20px; }

.panel-primary { border-color: #e6e6e6; }
.panel-primary > .panel-heading { background-color: #0c8de4; border-color: #0c8de4; color: #fff; }

.panel-info > .panel-heading { background-color: #35b8e0; }
.panel-info > .panel-heading { background-color: #d9edf7; border-color: #bce8f1; color: #31708f; }

/* Modal */
body {
overflow-y: scroll;
}

body.modal-open {
overflow-y: scroll;
margin: 0;
}

.modal {
overflow: auto;
}
.modal .label { float:left; min-width:90px; max-width: 140px; margin-right:12px; }
#accordion .label { float:left; min-width:90px; max-width: 140px; margin-right:12px; }

.modal .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 100%; }

@media only screen and (min-width: 468px) {
  .modal .label, #accordion .label { font-size: 12px }
}

/* Alerts */
.alert {
    border: 0 !important;
    border-width: 0 0 0 5px;
    margin-bottom: 20px;
    margin-top: 0;
}
.alert-info {
    background-color: #d6dde7;
    border-color: #000;
    color: #305d8c;
}

article { margin-bottom: 25px; }

.input-group-addon { background-color: #337ab7; border:none; color: #fff; }
.form-control {}

/* --------------------------------
  Breadcrumb
-------------------------------- */

#ribbon { margin-top:55px;  float: left; min-height: 55px; }
.breadcrumb { border-radius: 0; }

@media only screen and (min-width: 768px) {
  #ribbon { margin-left: 110px; }
}

@media only screen and (min-width: 1170px) {
  #ribbon { margin-left: 215px; }
}

/* --------------------------------
  Cards & Widgets
-------------------------------- */

.card-box {
    background-clip: padding-box;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 26px 40px -40px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
}

.card-box .fa { color: #999; }

.widget-box h2 {  }
.widget-box .widget-detail { }
.widget-box .text-muted { color: #999; }

.widget-user .widget-info p, .widget-user .widget-info h4 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.widget-user img {
    float: left;
    height: 72px;
}

.text-success { color: #10c469 !important; }

/* --------------------------------
  Back to top
-------------------------------- */

.go-top { position:fixed; padding:10px 16px; bottom:18px; right:18px; text-decoration:none; color:#fff; background-color:#111433; border-radius:4px; font-size:17px; display:none; z-index:500; }
.go-top:hover { background-color:#ffb107 !important; color:#fff !important; }
.go-top:active, .go-top:focus { background-color:#202125; color:#fff; }

@media only screen and (max-width: 480px) {
  .go-top { display:none; visibility:hidden; }
}

/* --------------------------------
  Tabs
-------------------------------- */

/*#myTabs { margin-top:12px; }

#myTabContent { margin-bottom: 25px; }
#myTabContent { background-color:#fff; padding: 16px;  }

.nav-tabs {  margin-top: 16px; border-color: #ccc; }
.nav-tabs > li { background-color: #f1edea; border-radius: 0; margin-bottom: 0px; }
.nav-tabs > li > a { background-color: #ccc; color: #1f245d; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover { color: #fff; background-color: #1f245d; border-color: #1f245d; }

.nav > li > a:focus,
.nav > li > a:hover { background-color: #ccc; border-color: #ccc; }

.panel-body .nav-tabs > li { background-color: #fff; border-radius: 0; }*/

/* --------------------------------
  Table Styles
-------------------------------- */
.font-lg { font-size: 120% !important; }
.font-sm { font-size: 95% !important; }
.font-xs { font-size: 85% !important; }

.task-table-row { background-color: #fff; }
.table-hover > tbody > tr:hover { background-color: #ecf3f8; }

.title { font-size: larger; font-weight: bold; }

.table th.centered-cell,
.table td.centered-cell { text-align: center; }

@media only screen and (min-width: 1170px) {
  .table { text-align: left; }
}

/*!
 * Select2 4.0.1
 * https://select2.github.io
 *
 * Released under the MIT license
 * https://github.com/select2/select2/blob/master/LICENSE.md
 */

.select2-container { width: 100% !important; transition: all 0.3s ease 0s; }
.select2-search input { min-height: 30px; }
.select2-container .select2-search--inline .select2-search__field { margin-top: 0px; }
.select2-container--default.select2-container--focus .select2-selection--multiple { border-color: #337ab7 !important; box-shadow: 0px 0px 12px 0px rgba(51,122,183,1); }
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #337ab7 !important; }
.select2-container--classic.select2-container--open .select2-dropdown { border-color: #337ab7 !important; }
.select2-container--open .select2-dropdown, .select2-drop-active { border-width: medium 1px 1px !important; }
.select2-container--classic.select2-container--open .select2-selection--multiple { border-color: #337ab7 !important; }
.select2-container--classic .select2-results__option--highlighted[aria-selected] { background-color: #337ab7 !important;  }
.select2-container--classic .select2-results > .select2-results__options { border-top:1px dotted #ddd; }
.select2-container--classic .select2-selection--multiple {}
.select2-container--classic .select2-selection--multiple::before {
  position: absolute;
  content: '';
  right: 0%;
  top: 15%;
  bottom: auto;
  height: 26px;
  width: 22px;
  font-family: "FontAwesome";
  opacity: 0.3;
  position: absolute;
  content: "\f0d7";
   border-color: #ccc;
  }

/* Text Colour */
.txt-color-blue { color: #0c8de4 !important; }
.txt-color-blueLight { color: #92a2a8 !important; }
.txt-color-blueDark { color: #4c4f53 !important; }
.txt-color-green { color: #356e35 !important; }
.txt-color-greenLight { color: #71843f !important; }
.txt-color-greenDark { color: #496949 !important; }
.txt-color-red { color: #a90329 !important; }
.txt-color-yellow { color: #b09b5b !important; }
.txt-color-orange { color: #b19a6b !important; }
.txt-color-orangeDark { color: #a57225 !important; }
.txt-color-pink { color: #ac5287 !important; }
.txt-color-pinkDark { color: #a8829f !important; }
.txt-color-purple { color: #6e587a !important; }
.txt-color-darken { color: #404040 !important; }
.txt-color-lighten { color: #d5e7ec !important; }
.txt-color-white { color: #fff !important; }
.txt-color-grayDark { color: #525252 !important; }
.txt-color-magenta { color: #6e3671 !important; }
.txt-color-teal { color: #568a89 !important; }
.txt-color-redLight { color: #a65858 !important; }

/* --------------------------------
  Task Details
-------------------------------- */

#task-details-panel {}
#task-details-panel h2 { word-wrap: break-word; }

/* --------------------------------
  Progress bars
-------------------------------- */

#update-task-form-section .progress { height:30px; }
#update-task-form-section h4 { margin-bottom: 0px; }

/* --------------------------------
  Animation
-------------------------------- */

.animated { -webkit-animation-fill-mode:both; -moz-animation-fill-mode:both; -ms-animation-fill-mode:both; -o-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-duration:1.0s; -moz-animation-duration:1.0s; -ms-animation-duration:1.0s; -o-animation-duration:1.0s; animation-duration:1.0s; }

.delay { animation-delay: 2s; -moz-animation-delay: 2s; -webkit-animation-delay: 2s; -o-animation-delay: 2s; }

.fadeIn { -webkit-animation-name: fadeIn; -moz-animation-name: fadeIn; -o-animation-name: fadeIn; animation-name: fadeIn;  }

@-webkit-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@-moz-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@-o-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }

.fadeInUp { -webkit-animation-name: fadeInUp; -moz-animation-name: fadeInUp; -o-animation-name: fadeInUp; animation-name: fadeInUp; }

@-webkit-keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translateY(20px); } 100% { opacity: 1; -webkit-transform: translateY(0); } }
@-moz-keyframes fadeInUp { 0% { opacity: 0; -moz-transform: translateY(20px); } 100% { opacity: 1; -moz-transform: translateY(0); } }
@-o-keyframes fadeInUp { 0% { opacity: 0; -o-transform: translateY(20px); } 100% { opacity: 1; -o-transform: translateY(0); } }
@keyframes fadeInUp { 0% { opacity: 0; transform: translateY(20px); } 100% { opacity: 1; transform: translateY(0); } }

.fadeInDown { -webkit-animation-name: fadeInDown; -moz-animation-name: fadeInDown; -o-animation-name: fadeInDown; animation-name: fadeInDown; }

@-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-20px); } 100% { opacity: 1; -webkit-transform: translateY(0); } }
@-moz-keyframes fadeInDown { 0% { opacity: 0; -moz-transform: translateY(-20px); } 100% { opacity: 1; -moz-transform: translateY(0); } }
@-o-keyframes fadeInDown { 0% { opacity: 0; -o-transform: translateY(-20px);} 100% { opacity: 1; -o-transform: translateY(0); } }
@keyframes fadeInDown { 0% { opacity: 0; transform: translateY(-20px); } 100% { opacity: 1; transform: translateY(0); } }

/* --------------------------------
  Ronan Added for testing MixItUp
-------------------------------- */
#Container .mix{
    display: none;
}
.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}
.tabs-left {
    border-right: 1px solid #ddd;
}
.tabs-right {
    border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}
.tabs-left>li {
    margin-right: -1px;
}
.tabs-right>li {
    margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

#video-container {
    margin: 2em auto 0;
    width: 500px;
    padding: 2em;
    background: white;
    -webkit-box-shadow: 0 1px 10px #D9D9D9;
    -moz-box-shadow: 0 1px 10px #D9D9D9;
    -ms-box-shadow: 0 1px 10px #D9D9D9;
    -o-box-shadow: 0 1px 10px #D9D9D9;
    box-shadow: 0 1px 10px #D9D9D9;
}

/* --------------------------------
  Ronan Added for auto complete on modals
-------------------------------- */
.ui-autocomplete
{
    position:absolute;
    cursor:default;
    background-color: #f5f5f5;
    font-size: 85%;
    z-index:10000 !important

}
.ui-front {
    z-index: 9999;
}
/* --------------------------------
  Ronan Added to pull teh top control
  buttons to the left on datatables
-------------------------------- */
.dataTables_filter {
    text-align: left !important;
}
/* --------------------------------
  Ronan Added for footer
-------------------------------- */
.app-footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:10%;
}

.task-table-row-update {
    background-color: #000000;


}